In [147]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [148]:
#load in archive/bias_scores.csv as a dataframe
bias_scores = pd.read_csv('data/archive/bias_scores.csv')
#sort by score
bias_scores = bias_scores.sort_values(by=['score'])
#drop rows with no score
bias_scores = bias_scores.dropna(subset=['score'])

#keep only elements where domain is nytimes.com, breitbart.com, cnn.com, businessinsider.com, theatlantic.com, foxnews.com, talkingpointsmemo.com, buzzfeednews.com, nationalreview.com, nypost.com, theguardian.com, npr.org, reuters.com, vox.com, washingtonpost.com
bias_scores = bias_scores[bias_scores['domain'].isin(['nytimes.com', 'breitbart.com', 'cnn.com', 'businessinsider.com', 'theatlantic.com', 'foxnews.com', 'talkingpointsmemo.com', 'buzzfeednews.com', 'nationalreview.com', 'nypost.com', 'theguardian.com', 'npr.org', 'reuters.com', 'vox.com', 'washingtonpost.com'])]
bias_scores

,domain,score,rounded_n_shares,rounded_n_accts,fb_score,mturk_score,budak_score,allsides_score,allsides_score_community,pew_score
259,talkingpointsmemo.com,-0.6732,14000,6200,-0.8614,-0.416667,NaN,NaN,NaN,NaN
72,vox.com,-0.5546,78700,24800,-0.6591,-0.416667,NaN,-0.5,-0.5,NaN
19,npr.org,-0.4161,216700,65400,-0.6103,-0.166667,NaN,0.0,-0.5,-0.320
57,theatlantic.com,-0.4148,91800,32100,-0.5424,-0.416667,NaN,-0.5,0.0,NaN
33,theguardian.com,-0.3893,153100,48000,-0.5723,-0.416667,NaN,-0.5,-0.5,-0.086
5,nytimes.com,-0.2602,1277000,149800,-0.5469,0.000000,-0.050888,-0.5,-0.5,-0.292
7,washingtonpost.com,-0.2342,602500,126300,-0.2568,-0.583333,-0.012491,-0.5,-0.5,-0.196
55,reuters.com,-0.1287,105400,32400,-0.0945,-0.250000,-0.008669,0.0,0.0,NaN
10,cnn.com,-0.1183,375700,98300,-0.2705,-0.666667,-0.023874,0.0,-0.5,-0.222
34,businessinsider.com,-0.0373,137800,47000,-0.0585,0.000000,NaN,0.0,0.0,NaN
69,nypost.com,0.1813,73600,26900,0.2497,-0.333333,NaN,1.0,0.5,NaN
47,foxnews.com,0.6079,148600,38300,0.7754,0.250000,0.131992,0.5,1.0,0.416
293,nationalreview.com,0.6361,11400,5300,0.9009,0.416667,NaN,1.0,1.0,NaN
238,breitbart.com,0.7419,34500,6800,0.9136,0.833333,0.177770,1.0,1.0,0.116

In [149]:
arch1 = pd.read_csv('data/archive/articles1.csv')
arch2 = pd.read_csv('data/archive/articles2.csv')
arch3 = pd.read_csv('data/archive/articles3.csv')

arch = pd.concat([arch1, arch2, arch3])
arch

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."
...,...,...,...,...,...,...,...,...,...,...
42566,146028,218078,An eavesdropping Uber driver saved his 16-year...,Washington Post,Avi Selk,2016-12-30,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,Uber driver Keith Avila picked up a p...
42567,146029,218079,Plane carrying six people returning from a Cav...,Washington Post,Sarah Larimer,2016-12-30,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,Crews on Friday continued to search L...
42568,146030,218080,After helping a fraction of homeowners expecte...,Washington Post,Renae Merle,2016-12-30,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,When the Obama administration announced a...
42569,146031,218081,"Yes, this is real: Michigan just banned bannin...",Washington Post,Chelsea Harvey,2016-12-30,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,This story has been updated. A new law in...
42570,146032,218082,What happened in Washington state after voters...,Washington Post,Christopher Ingraham,2016-12-29,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,The nation’s first recreational marijuana...

In [150]:
#drop all columns except title and publiction
arch = arch[['title', 'publication']]

#drop all rows except those with publication =  'Business Insider', 'Reuters', 'Vox', 'Talking Points Memo', 'Fox News', 'National Review'
arch = arch[arch['publication'].isin(['Business Insider', 'Reuters', 'Vox', 'Talking Points Memo', 'Fox News', 'National Review'])]
arch[arch['publication'] == 'Reuters']

                                                   title publication
15800  Trump praises Putin for holding back in U.S.-R...     Reuters
15801  Russians leave country retreats in the U.S., o...     Reuters
15802  Gunman kills 39 in Istanbul nightclub, manhunt...     Reuters
15803  New York’s Times Square erupts with cheer as a...     Reuters
15804  Investors brace for 2017 shocks after surprise...     Reuters
...                                                  ...         ...
26505  Speculators raise net long dollar bets in fina...     Reuters
26506  Wall St. thinks stocks will rise in 2017 - Wha...     Reuters
26507     Disney buying Netflix could be practical magic     Reuters
26508  Actors seek posthumous protections after big-s...     Reuters
26509  European cities ramp up security for New Year ...     Reuters

[10710 rows x 2 columns]

In [151]:
#prinit number of instances for each publication
#drop duplicates where title and score are the same
arch = arch.drop_duplicates(subset=['title', 'publication'])
arch = arch.dropna()
arch = arch.reset_index(drop=True)
print(arch['publication'].value_counts())

Reuters                10707
Business Insider        6704
National Review         6199
Talking Points Memo     5179
Vox                     4942
Fox News                4352
Name: publication, dtype: int64

In [152]:
print('Right Leaning Headlines:', 6199 + 4352)
print('Left Leaning Headlines:', 5179 + 4942)
print('Neutral Headlines:', 10707 + 67040)

Right Leaning Headlines: 10551
Left Leaning Headlines: 10121
Neutral Headlines: 77747

In [153]:
print('Drop', 4942-4352, ' items from Vox')
print('Drop ', 6199-5179, ' items from National Review')

Drop 590  items from Vox
Drop  1020  items from National Review

In [154]:
#Balancing the Dataset
vox_indeces = arch[arch['publication'] == 'Vox'].sample(n=590).index
nr_indeces = arch[arch['publication'] == 'National Review'].sample(n=1020).index
drop_indeces = vox_indeces.append(nr_indeces)
arch = arch.drop(drop_indeces)
arch = arch.reset_index(drop=True)
print(arch['publication'].value_counts())

Reuters                10707
Business Insider        6704
Talking Points Memo     5179
National Review         5179
Fox News                4352
Vox                     4352
Name: publication, dtype: int64

In [155]:
#drop all rows except domain = businessinsider.com, foxnews.com, talkingpointsmemo.com, nationalreview.com, reuters.com, vox.com
bias_scores = bias_scores[bias_scores['domain'].isin(['businessinsider.com', 'foxnews.com', 'talkingpointsmemo.com', 'nationalreview.com', 'reuters.com', 'vox.com'])]
#convert urls to names in scores
bias_scores['domain'] = bias_scores['domain'].replace({'businessinsider.com': 'Business Insider', 'foxnews.com': 'Fox News', 'vox.com': 'Vox', 'talkingpointsmemo.com': 'Talking Points Memo', 'nationalreview.com': 'National Review', 'reuters.com': 'Reuters'})
bias_scores

/var/folders/ff/x688rcys16d34fpwt6zr8qcc0000gn/T/ipykernel_8923/2928599111.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bias_scores['domain'] = bias_scores['domain'].replace({'businessinsider.com': 'Business Insider', 'foxnews.com': 'Fox News', 'vox.com': 'Vox', 'talkingpointsmemo.com': 'Talking Points Memo', 'nationalreview.com': 'National Review', 'reuters.com': 'Reuters'})

,domain,score,rounded_n_shares,rounded_n_accts,fb_score,mturk_score,budak_score,allsides_score,allsides_score_community,pew_score
259,Talking Points Memo,-0.6732,14000,6200,-0.8614,-0.416667,NaN,NaN,NaN,NaN
72,Vox,-0.5546,78700,24800,-0.6591,-0.416667,NaN,-0.5,-0.5,NaN
55,Reuters,-0.1287,105400,32400,-0.0945,-0.250000,-0.008669,0.0,0.0,NaN
34,Business Insider,-0.0373,137800,47000,-0.0585,0.000000,NaN,0.0,0.0,NaN
47,Fox News,0.6079,148600,38300,0.7754,0.250000,0.131992,0.5,1.0,0.416
293,National Review,0.6361,11400,5300,0.9009,0.416667,NaN,1.0,1.0,NaN

In [156]:
#join scores and headlines where domain = publication
labeled_headlines = bias_scores.join(arch.set_index('publication'), on='domain')
labeled_headlines

,domain,score,rounded_n_shares,rounded_n_accts,fb_score,mturk_score,budak_score,allsides_score,allsides_score_community,pew_score,title
259,Talking Points Memo,-0.6732,14000,6200,-0.8614,-0.416667,NaN,NaN,NaN,NaN,Trump Praises ’Very Smart’ Putin For ’Great Mo...
259,Talking Points Memo,-0.6732,14000,6200,-0.8614,-0.416667,NaN,NaN,NaN,NaN,House Dems Vow To Fight Back Against GOP Respo...
259,Talking Points Memo,-0.6732,14000,6200,-0.8614,-0.416667,NaN,NaN,NaN,NaN,Obama To Meet With Hill Dems Wednesday To Disc...
259,Talking Points Memo,-0.6732,14000,6200,-0.8614,-0.416667,NaN,NaN,NaN,NaN,N.C. Guv-Elect Cooper Sues Over Elections Law ...
259,Talking Points Memo,-0.6732,14000,6200,-0.8614,-0.416667,NaN,NaN,NaN,NaN,The Final Call!
...,...,...,...,...,...,...,...,...,...,...,...
293,National Review,0.6361,11400,5300,0.9009,0.416667,NaN,1.0,1.0,NaN,President Obama’s Two Hanukkah Messages
293,National Review,0.6361,11400,5300,0.9009,0.416667,NaN,1.0,1.0,NaN,"Thank You, Professor Sowell"
293,National Review,0.6361,11400,5300,0.9009,0.416667,NaN,1.0,1.0,NaN,A Ukrainian Christmas . . .
293,National Review,0.6361,11400,5300,0.9009,0.416667,NaN,1.0,1.0,NaN,Debbie Reynolds’s Broadway Debut
293,National Review,0.6361,11400,5300,0.9009,0.416667,NaN,1.0,1.0,NaN,The Resilience of Israel

In [157]:
#keep only score and title
labeled_headlines = labeled_headlines[['score', 'title']]
labeled_headlines

      score                                              title
259 -0.6732  Trump Praises ’Very Smart’ Putin For ’Great Mo...
259 -0.6732  House Dems Vow To Fight Back Against GOP Respo...
259 -0.6732  Obama To Meet With Hill Dems Wednesday To Disc...
259 -0.6732  N.C. Guv-Elect Cooper Sues Over Elections Law ...
259 -0.6732                                    The Final Call!
..      ...                                                ...
293  0.6361            President Obama’s Two Hanukkah Messages
293  0.6361                        Thank You, Professor Sowell
293  0.6361                        A Ukrainian Christmas . . .
293  0.6361                   Debbie Reynolds’s Broadway Debut
293  0.6361                           The Resilience of Israel

[36473 rows x 2 columns]

In [158]:
labeled_headlines.to_csv('data/continuous_labeled_headlines.csv', index=False)

In [159]:
#set score to 1 if score > .5, -1 if score < -.5, 0 otherwise
labeled_headlines['score'] = labeled_headlines['score'].apply(lambda x: 1 if x > .5 else -1 if x < -.5 else 0)
labeled_headlines['score'].value_counts()

/var/folders/ff/x688rcys16d34fpwt6zr8qcc0000gn/T/ipykernel_8923/2785766366.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  labeled_headlines['score'] = labeled_headlines['score'].apply(lambda x: 1 if x > .5 else -1 if x < -.5 else 0)

 0    17411
-1     9531
 1     9531
Name: score, dtype: int64

In [160]:
labeled_headlines.to_csv('data/discrete_labeled_headlines.csv', index=False)

In [161]:
#keep only the headlines with a score of 0
labeled_headlines = labeled_headlines[labeled_headlines['score'] == 0]
#remove the score column
labeled_headlines = labeled_headlines[['title']]
#save to csv
labeled_headlines.to_csv('data/neutral_headlines.csv', index=False)