In [33]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [34]:
arch1 = pd.read_csv('data/archive/articles1.csv')
arch2 = pd.read_csv('data/archive/articles2.csv')
arch3 = pd.read_csv('data/archive/articles3.csv')

arch = pd.concat([arch1, arch2, arch3])
arch

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."
...,...,...,...,...,...,...,...,...,...,...
42566,146028,218078,An eavesdropping Uber driver saved his 16-year...,Washington Post,Avi Selk,2016-12-30,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,Uber driver Keith Avila picked up a p...
42567,146029,218079,Plane carrying six people returning from a Cav...,Washington Post,Sarah Larimer,2016-12-30,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,Crews on Friday continued to search L...
42568,146030,218080,After helping a fraction of homeowners expecte...,Washington Post,Renae Merle,2016-12-30,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,When the Obama administration announced a...
42569,146031,218081,"Yes, this is real: Michigan just banned bannin...",Washington Post,Chelsea Harvey,2016-12-30,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,This story has been updated. A new law in...
42570,146032,218082,What happened in Washington state after voters...,Washington Post,Christopher Ingraham,2016-12-29,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,The nation’s first recreational marijuana...

In [35]:
#drop all columns except title and publiction
arch = arch[['title', 'publication', 'content']]

#drop all rows except those with publication =  'Business Insider', 'Vox', 'Fox News'
arch = arch[arch['publication'].isin(['Business Insider', 'Vox', 'Fox News'])]

In [36]:
#prinit number of instances for each publication
#drop duplicates where title and score are the same
#drop 593 random instances from Vox
arch = arch.drop_duplicates(subset=['title', 'publication'])
arch = arch.dropna()
print(arch['publication'].value_counts())

Business Insider    6704
Vox                 4942
Fox News            4352
Name: publication, dtype: int64

In [37]:

arch.drop(arch[arch['publication'] == 'Vox'].sample(4942-4352).index, inplace=True)
arch.drop(arch[arch['publication'] == 'Business Insider'].sample(6704 - 4352).index, inplace=True)

In [38]:
print(arch['publication'].value_counts())

Business Insider    4352
Fox News            4352
Vox                 4352
Name: publication, dtype: int64

In [39]:
#save to csv
arch.to_csv('data/content.csv', index=False)

In [40]:
scores = pd.read_csv('data/scores.csv')

In [41]:
scores

                domain   score
0              vox.com -0.5546
1  businessinsider.com -0.0373
2          foxnews.com  0.6079

In [42]:
#convert urls to names in scores
scores['domain'] = scores['domain'].replace({'businessinsider.com': 'Business Insider', 'foxnews.com': 'Fox News', 'vox.com': 'Vox'})

In [43]:
#join scores and headlines where domain = publication
labeled_headlines = scores.join(arch.set_index('publication'), on='domain')

In [44]:
#set score to 1 if score > .5, -1 if score < -.5, 0 otherwise
labeled_headlines['score'] = labeled_headlines['score'].apply(lambda x: 1 if x > .5 else -1 if x < -.5 else 0)

In [45]:
labeled_headlines = labeled_headlines.drop(columns=['domain'])
labeled_headlines

,score,title,content
0,-1,Why Google co-founder Larry Page is pouring mi...,People have dreamed about flying cars for dec...
0,-1,President Obama just took unprecedented steps ...,US intelligence agencies believe that this ye...
0,-1,The DNC race has become another fight over Ber...,Minnesota Rep. Keith Ellison hadn’t been camp...
0,-1,"A simple guide to CRISPR, one of the biggest s...",One of the biggest and most important science...
0,-1,I quit alcohol to save my life. But I miss the...,I gave up drinking when my pancreas exploded....
...,...,...,...
2,1,Spree of Obama actions revives GOP concerns ov...,"In the last week alone, the Obama administrati..."
2,1,Gingrich: Obama in ’desperate frenzy’ to leave...,"“His legacy is like one of those dolls that, a..."
2,1,Democrats hound Trump over closure of foundation,The incoming president announced Saturday that...
2,1,Trump spokesman backs out of White House post,"Miller, a longtime spokesman for Trump’s campa..."
2,1,Israel accuses Obama administration of helping...,“We have rather ironclad information from sour...

In [46]:
labeled_headlines

,score,title,content
0,-1,Why Google co-founder Larry Page is pouring mi...,People have dreamed about flying cars for dec...
0,-1,President Obama just took unprecedented steps ...,US intelligence agencies believe that this ye...
0,-1,The DNC race has become another fight over Ber...,Minnesota Rep. Keith Ellison hadn’t been camp...
0,-1,"A simple guide to CRISPR, one of the biggest s...",One of the biggest and most important science...
0,-1,I quit alcohol to save my life. But I miss the...,I gave up drinking when my pancreas exploded....
...,...,...,...
2,1,Spree of Obama actions revives GOP concerns ov...,"In the last week alone, the Obama administrati..."
2,1,Gingrich: Obama in ’desperate frenzy’ to leave...,"“His legacy is like one of those dolls that, a..."
2,1,Democrats hound Trump over closure of foundation,The incoming president announced Saturday that...
2,1,Trump spokesman backs out of White House post,"Miller, a longtime spokesman for Trump’s campa..."
2,1,Israel accuses Obama administration of helping...,“We have rather ironclad information from sour...

In [47]:
labeled_headlines['score'].value_counts()

-1    4352
 0    4352
 1    4352
Name: score, dtype: int64

In [48]:
labeled_headlines.to_csv('data/labeled_content.csv', index=False)