In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('bias_scores.csv')

# find and print values for Asociated Press url
# print(df[df['domain'] == 'apnews.com'])

# drop [budak_score, fb_score, mturk_score]
# df = df.drop(columns=['budak_score', 'fb_score', 'mturk_score'])

# drop null values
# df = df.dropna()

print(f"Number of rows: {df.shape[0]}")

# print summary statistics
df.describe()

         domain   score  rounded_n_shares  rounded_n_accts  fb_score  \
179  apnews.com -0.3279             23500             9300       NaN

     mturk_score  budak_score  allsides_score  allsides_score_community  \
179          NaN          NaN             NaN                       NaN

     pew_score
179        NaN
Number of rows: 22

,score,rounded_n_shares,rounded_n_accts,allsides_score,allsides_score_community,pew_score
count,22.000000,2.200000e+01,22.000000,22.000000,22.000000,22.000000
mean,-0.110700,2.080864e+05,47595.454545,-0.250000,-0.090909,-0.083091
std,0.472044,2.916750e+05,43221.274273,0.650092,0.548512,0.174325
min,-0.719300,2.000000e+02,100.000000,-1.000000,-0.500000,-0.320000
25%,-0.357025,3.500000e+04,14600.000000,-0.500000,-0.500000,-0.208000
50%,-0.210800,1.334500e+05,41100.000000,-0.500000,-0.500000,-0.096000
75%,-0.048600,2.042750e+05,64500.000000,0.000000,0.000000,-0.040500
max,0.883900,1.277000e+06,149800.000000,1.000000,1.000000,0.416000

In [3]:
df

,domain,score,rounded_n_shares,rounded_n_accts,allsides_score,allsides_score_community,pew_score
5,nytimes.com,-0.2602,1277000,149800,-0.5,-0.5,-0.292
7,washingtonpost.com,-0.2342,602500,126300,-0.5,-0.5,-0.196
9,huffingtonpost.com,-0.2383,571800,121400,-1.0,-0.5,-0.154
10,cnn.com,-0.1183,375700,98300,0.0,-0.5,-0.222
14,buzzfeed.com,-0.1616,274600,79800,-0.5,-0.5,-0.028
19,npr.org,-0.4161,216700,65400,0.0,-0.5,-0.320
23,usatoday.com,0.0582,167000,61800,0.0,0.0,-0.078
33,theguardian.com,-0.3893,153100,48000,-0.5,-0.5,-0.086
36,nbcnews.com,-0.1558,118300,45800,-0.5,-0.5,-0.212
37,bloomberg.com,-0.0792,158700,45400,0.0,0.0,-0.054
39,politico.com,-0.1914,162700,43900,-0.5,0.0,-0.070
47,foxnews.com,0.6079,148600,38300,0.5,1.0,0.416
81,thinkprogress.org,-0.7193,63800,22400,-1.0,-0.5,-0.040
83,economist.com,-0.2302,59100,21100,-0.5,0.5,-0.116
101,bbc.com,-0.2578,36500,16400,0.0,-0.5,-0.274
114,abcnews.go.com,-0.0384,22900,14600,-0.5,0.0,-0.174
115,motherjones.com,-0.6966,33500,14600,-1.0,-0.5,-0.106
133,dailykos.com,-0.7052,54700,12900,-1.0,-0.5,-0.042
229,msnbc.com,-0.6243,15600,7100,-1.0,0.0,-0.224
235,theblaze.com,0.7889,30400,6900,1.0,0.5,0.170
238,breitbart.com,0.7419,34500,6800,1.0,1.0,0.116
7648,drudgereport.com,0.8839,200,100,1.0,1.0,0.158